* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255,255,255, 0.5);
  --surface-color: rgba(255,255,255,0.05);
  --surface-color-hover: rgba(0,0,0,0.02);
  --highlight-color: rgba(255,255,255,0.2);
 
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0,0,0, 0.5);
  --surface-color: rgba(0,0,0,0.05);
  --surface-color-hover: rgba(0,0,0,0.02);
  --highlight-color: rgba(0,0,0,0.1);

}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

figcaption {
  text-align: center;
  margin-top: 10px;
  font-style: italic;
  font-size: 30px;
  padding: 30px;
}

body * {
  font-family: 'Inter', sans-serif; 
  color: var(--text-color);
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  
  .light {
    --bg-url: url(./assets/bg-desktop-light.jpeg);
  }
}

@media (max-width: 700px) {
  body {
    --bg-url: url(./assets/bg-mobile.jpg);
  }
}
