
.light {
  --text-color: black;
  --stroke-color: rgba(0,0,0, 0.5);
  --surface-color: rgba(0,0,0,0.05);
  --surface-color-hover: rgba(0,0,0,0.02);
  --highlight-color: rgba(0,0,0,0.1);
  --bg-url-mobile: url(./assets/bg-mobile.jpeg);
  --bg-url-mobile-light: url(./assets/bg-mobile-light.jpeg);
  --bg-url-desktop: url(./assets/bg-desktop.jpeg);
  --bg-url-desktop-light: url(./assets/bg-desktop-light.jpeg);

}

body {
  background: var(--bg-url-mobile) no-repeat top center/cover;
  height: 100vh;
}

figcaption {
  text-align: center;
  margin-top: 10px;
  font-style: italic;
  font-size: 30px;
  padding: 30px;
}

body * {
  font-family: 'Inter', sans-serif; 
  color: var(--text-color);
}

@media (min-width: 700px) {
  body {
    background: var(--bg-url-desktop) no-repeat top center/cover;
  }
  
  .light {
    background: var(--bg-url-desktop-light) no-repeat top center/cover;
  }
}

@media (max-width: 700px) {
  body {
    background: var(--bg-url-mobile-light) no-repeat top center/cover;
  }
}
